In [1]:
import requests
import pandas as pd
import json

In [2]:
def api_call_data(time_start_end_tup):
    print(time_start_end_tup)
    time_start = time_start_end_tup[0]
    time_end = time_start_end_tup[1]
    begin = "2019-08-01T12:00:00Z"
    end = "2019-08-01T12:01:00Z"
    url = "https://api.hypr.cl/raw/"
    headers = {
     'x-api-key': "iQ0WKQlv3a7VqVSKG6BlE9IQ88bUYQws6UZLRs1B",
     'time_start': time_start, 'time_stop': time_end, 'Accept': "*/*",
     'Cache-Control': "no-cache", 'Host': "api.hypr.cl",
     'Accept-Encoding': "gzip, deflate",
     'Content-Length': "0", 'Connection': "keep-alive",
     'cache-control': "no-cache" }
    response = requests.request("POST", url, headers=headers)
    df_raw = pd.DataFrame(json.loads(response.text)['raw'])
    df_raw.to_csv(f'Data/raw_data_{begin.replace(":", "").replace("-", "")}.csv')
    return df_raw

In [3]:
from multiprocessing import Pool, TimeoutError

In [4]:
pool = Pool(3)

In [8]:
from datetime import datetime, timedelta

In [ ]:
start = "2019-08-01T12:00:00Z"
time_array = [datetime.strptime(start, '%Y-%m-%dT%H:%M:%SZ') + timedelta(minutes=i+1) for i in range(1439)]

In [5]:
data = [("2019-08-01T12:00:00Z", "2019-08-01T12:01:00Z"),
        ("2019-08-01T12:01:00Z", "2019-08-01T12:02:00Z"),
        ("2019-08-01T12:02:00Z", "2019-08-01T12:03:00Z")]

In [6]:
for d in data:
    api_call_data(d)

('2019-08-01T12:00:00Z', '2019-08-01T12:01:00Z')
('2019-08-01T12:01:00Z', '2019-08-01T12:02:00Z')
('2019-08-01T12:02:00Z', '2019-08-01T12:03:00Z')

In [ ]:
t = pool.map(api_call_data, data)

In [ ]:
pool.close()
pool.join()

In [4]:
#api_call_data("2019-08-01T12:00:00Z", "2019-08-01T12:01:00Z")

,time,hash,latitude,longitude,serial,distance
0,2019-08-01T12:00:00Z,144afc51fc2443c7031a2912566eff2ce60226a49d6d2b...,60.16544,24.95398,0000000038d83d41,17.40
1,2019-08-01T12:00:00Z,14c7e1511b70f4dd3359cbece1377aebb4d70531f5489e...,60.16544,24.95398,0000000038d83d41,27.28
2,2019-08-01T12:00:00Z,165ebbb4090d47319ae370f0d0854fdc1f6b79499f8b2e...,60.16544,24.95398,0000000038d83d41,27.28
3,2019-08-01T12:00:00Z,18167fae09beb238eb0a355497a7cd8695b98c6f1838c1...,60.15380,24.95595,0000000038bf9618,21.87
4,2019-08-01T12:00:00Z,225b201dfd9c44747634aa0dd031c09fded36df2879982...,60.16829,24.94214,00000000afef4555,16.10
...,...,...,...,...,...,...
21572,2019-08-01T12:01:00Z,fa7bc1cdbe4434cdc389ae61e7ddc2728689e46a2478c9...,60.16531,24.94420,00000000fdda10fe,29.32
21573,2019-08-01T12:01:00Z,fbec32e4201af1ae448aa987a760bacd6904d96c0f2452...,60.16629,24.95957,00000000fb7600be,23.56
21574,2019-08-01T12:01:00Z,fc27d285f70e4b7478c968fe77a0adedca4966f6849473...,60.16075,24.95883,00000000f1124bca,11.70
21575,2019-08-01T12:01:00Z,fed2154eab23e65924dc5c461c308ea63f044f56133fea...,60.17919,24.95181,000000007b5207b6,2.08
21576,2019-08-01T12:01:00Z,ff0b7b8b0851a4adca1dd7de90deb3dab574aa32587806...,60.15432,24.92110,0000000019fb59c4,21.87